@import 'tailwindcss';

@font-face {
	font-family: 'Rift';
	src:
		url('/fonts/Rift-Bold.woff2') format('woff2'),
		url('/fonts/Rift-Bold.woff') format('woff'),
		url('/fonts/Rift-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Rift';
	src:
		url('/fonts/Rift-Italic.woff2') format('woff2'),
		url('/fonts/Rift-Italic.woff') format('woff'),
		url('/fonts/Rift-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Rift';
	src:
		url('/fonts/Rift-BoldItalic.woff2') format('woff2'),
		url('/fonts/Rift-BoldItalic.woff') format('woff'),
		url('/fonts/Rift-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Rift';
	src:
		url('/fonts/Rift-Regular.woff2') format('woff2'),
		url('/fonts/Rift-Regular.woff') format('woff'),
		url('/fonts/Rift-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@theme {
	/* Custom font stack */
	--font-serif: 'PT Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
	--font-title:
		'Fira Sans Extra Condensed', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
		'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
	--font-rift: 'Rift', var(--font-title);

	/* Custom color palette */
	--color-mist-tag: #fff2ab;
	--color-mist-status: #e2e9b4;
	--color-mist-spectrum: #f9d0c4;
}
